.maingallery{
    max-width: 960px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 5px;
    font-size: 30px;
    font-family: Luminari;
    margin-top: 20px;

  }
  
  .maingallery__photos{
    max-width: 960px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;
  }
  

