* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0px;
  font-family: Quicksand;
  font-size: 20px;
}

.container {
  max-width: 960px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
}

.mainnav {
  background-color: #c634b8;
}

.mainnav__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainnav__link {
  color: #fff;
  text-decoration: none;
  padding: 20px 8px;
  font-size: .8em;
}

.mainnav__link:hover {
  background-color: #34495E;
}

.mainnav__link:nth-child(1) {
  margin-left: -8px;
}

.mainheader {
  background-color: #34495E;
  padding: 40px 0px;
}

.mainheader__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader__logo {
  width: 100px;
}

.search {
  height: 35px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 540px;
}

.search__input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100%;
  border: 1px solid transparent;
  width: 80%;
  padding: 6px 8px;
}

.search__input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
          box-shadow: 0px 0px 6px rgba(238, 218, 228, 0.5);
}

.search__input::-webkit-input-placeholder {
  color: lightgray;
}

.search__input:-ms-input-placeholder {
  color: lightgray;
}

.search__input::-ms-input-placeholder {
  color: lightgray;
}

.search__input::placeholder {
  color: lightgray;
}

.search__button {
  height: 100%;
  width: 20%;
  background-color: #c634b8;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  outline: none;
}

.search__logo{
  height: 50%;
  width: 35%;
}

.search__button:hover {
  background-color: #ffa239;
  cursor: pointer;
}

@media (max-width: 730px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}


